<% if workflow_run.present? %>
  <div class="flow-root">
    <div class="float-left flex-shrink-0 group block">
      <div class="flex items-center">
        <div class="mt-5 ml-2">
          <% if workflow_run[:conclusion] == 'success' %>
            <!-- Heroicon name: solid/check-circle -->
            <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          <% elsif workflow_run[:conclusion] == 'failure' %>
              <!-- Heroicon name: solid/x -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
          <% elsif workflow_run[:conclusion] == 'cancelled' %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
            </svg>
          <% end %>
        </div>
        <div class="mt-5 text-xl font-bold text-gray-900">
          <% if workflow_run[:event] == 'pull_request' %>
            <%= "Pull Request ##{workflow_run[:pull_requests].first[:number]}" %>
          <% elsif workflow_run[:event] == 'push'%>
            <%= truncate(workflow_run[:head_commit][:message], length: 50) %>
          <% else %>
            <%= workflow_run[:name] %>
          <% end %>

          <span class="text-xl font-medium text-gray-500 mr-3"> <%= "#{workflow_run[:name]} ##{workflow_run[:run_number]} "%> </span>
          -
          <span class="text-md font-medium text-gray-500"> Branch: <code class="text-md font-medium text-blue-500" text-xl> <%= workflow_run[:head_branch] %> </code> </span>
        </div>
      </div>
    </div>
    <div class="float-right mt-5 mr-2">
      <% if controller_name.include?('workflow') %>
        <% path = rerun_team_app_github_repository_workflow_workflow_run_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run.id) %>
      <% elsif controller_name.include?('deploy') %>
        <% path = rerun_team_app_github_repository_deploy_deploy_run_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run.id) %>
      <% end %>
      <%= button_to path, title: 'Restart Run' do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
      <% end %>
    </div>
  </div>
  </br>
  <div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
  </div>


  <div class="h-full flex">
    <!-- Static sidebar for desktop -->
    <div class="hidden lg:flex lg:flex-shrink-0">
      <div class="flex flex-col w-64">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white">
          <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
            <nav class="mt-5 flex-1" aria-label="Sidebar">
              <div class="px-2 space-y-1">
                <!-- Current: "bg-gray-200 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
                <% current_css = 'bg-gray-200 text-gray-900 group flex items-center px-2 py-2 text-md font-medium rounded-md' %>
                <% default_css = 'text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-md font-medium rounded-md' %>

                <% if controller_name.include?('workflow') %>
                  <%= link_to team_app_github_repository_workflow_workflow_run_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run.id), class: default_css do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                    All Jobs
                  <% end %>
                <% elsif controller_name.include?('deploy') %>
                  <%= link_to team_app_github_repository_deploy_deploy_run_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run.id), class: default_css do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                    All Jobs
                  <% end %>
                <% end %>
                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="relative">
                  <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex justify-center">
                    <span class="px-3 bg-white text-sm font-medium text-gray-500"> Jobs </span>
                  </div>
                </div>
                <% jobs[:jobs].each do |job|%>
                  <% if controller_name.include?('workflow') %>
                    <% path = team_app_github_repository_workflow_workflow_run_workflow_run_job_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run[:id], job[:id])%>
                  <% elsif controller_name.include?('deploy') %>
                    <% path = team_app_github_repository_deploy_deploy_run_deploy_run_job_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run.id, job[:id])%>
                  <% end %>
                  <%= link_to path, class: default_css do %>
                    <% if job[:conclusion] == 'success' %>
                        <!-- Heroicon name: solid/check-circle -->
                        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                      <% elsif job[:conclusion] == 'failure' %>
                          <!-- Heroicon name: solid/x -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                          </svg>
                      <% elsif job[:conclusion] == 'cancelled' %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                      <% else %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                    <%= job[:name] %>
                  <% end %>
                <% end %>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
      <div class="flex-1 relative z-0 flex overflow-hidden">
        <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last">
          <% if jobs[:jobs].present? %>
            <div class="flex justify-between">
              <h3 class="text-2xl leading-7 text-gray-900 text-md sm:truncate mt-4 ml-4 mb-4">
                Jobs
              </h3>
            </div>
            <div class="relative">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                      <tbody class="bg-white divide-y divide-gray-200">
                        <% jobs[:jobs].each do |job| %>
                        <tr>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <% if controller_name.include?('workflow') %>
                              <% path = team_app_github_repository_workflow_workflow_run_workflow_run_job_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run[:id], job[:id])%>
                            <% elsif controller_name.include?('deploy') %>
                              <% path = team_app_github_repository_deploy_deploy_run_deploy_run_job_path(@team, @app, @app.github_repo, workflow_run[:workflow_id], workflow_run.id, job[:id])%>
                            <% end %>
                            <%= link_to path, class: default_css do %>
                              <% if job[:conclusion] == 'success' %>
                                  <!-- Heroicon name: solid/check-circle -->
                                  <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                  </svg>
                                <% elsif job[:conclusion] == 'failure' %>
                                    <!-- Heroicon name: solid/x -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                                <% elsif job[:conclusion] == 'cancelled' %>
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                  </svg>
                                <% else %>
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
                                  </svg>
                                <% end %>
                              <%= job[:name] %>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </main>
      </div>
    </div>
  </div>
<% end %>
