<div class="flex justify-between">
  <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mt-4">
    Pull requests
  </h1>
</div>

<br>
<%= render 'git_hub/tabs' %>
<% if @git_hub_pull_requests.present? %>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @git_hub_pull_requests.each do |git_hub_pull_request| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                    </div>
                    <div class="ml-4">
                      <div class="text-md font-medium text-gray-900"><%= git_hub_pull_request[:title] %></div>
                      <div class="text-sm text-gray-500"><%= "##{git_hub_pull_request[:number]} opened #{distance_of_time_in_words(Time.now, git_hub_pull_request[:created_at])} ago by #{git_hub_pull_request[:user][:login]}" %></div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <div class="flex space-x-2">
                    <%= link_to git_hub_pull_request[:html_url], title: 'View Workflow Runs', class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-900 hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' do
                        icon('fas', 'play')
                    end%>
                    <%= link_to git_hub_pull_request[:html_url], title: 'View On GitHub', class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-900 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' do
                      icon('fab', 'github')
                    end%>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <% if @pagy %>
    <div class="md:flex justify-between text-center mt-6 md:mt-0">
      <%== pagy_info @pagy %>
      <%== pagy_nav @pagy %>
    </div>
  <% end %>
<% end %>
