<%= render 'github/shared/tabs' %>

<% if @app.github_repo.present? && @github_stats.present?%>
  <div>
    <dl class="mt-5 mb-5 grid grid-cols-1 gap-5 sm:grid-cols-5">
      <div class="px-2 py-3 bg-white shadow rounded-lg overflow-hidden sm:p-2">
        <dt class="flex items-center text-sm font-medium text-gray-500">
          <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"></path>
          </svg>
          Open Pull Requests
        </dt>
        <dd class="mt-1 text-2xl font-semibold text-gray-900"><%= @github_stats.pull_requests.total_count %></dd>
      </div>

      <div class="px-2 py-3 bg-white shadow rounded-lg overflow-hidden sm:p-2">
        <dt class="flex items-center text-sm font-medium text-gray-500">
          <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M11.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122V6A2.5 2.5 0 0110 8.5H6a1 1 0 00-1 1v1.128a2.251 2.251 0 11-1.5 0V5.372a2.25 2.25 0 111.5 0v1.836A2.492 2.492 0 016 7h4a1 1 0 001-1v-.628A2.25 2.25 0 019.5 3.25zM4.25 12a.75.75 0 100 1.5.75.75 0 000-1.5zM3.5 3.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0z"></path>
          </svg>
          Branches
        </dt>
        <dd class="mt-1 text-2xl font-semibold text-gray-900"><%= @github_stats.branches.total_count %></dd>
      </div>

      <div class="px-2 py-3 bg-white shadow rounded-lg overflow-hidden sm:p-2">
        <dt class="flex items-center text-sm font-medium text-gray-500">
          <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
            <path fill-rule="evenodd" d="M8 0a8 8 0 100 16A8 8 0 008 0zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0z"></path>
          </svg>
          Open Issues
        </dt>
        <dd class="mt-1 text-2xl font-semibold text-gray-900"><%= @github_stats.open_issues.total_count %></dd>
      </div>
      <div class="px-2 py-3 bg-white shadow rounded-lg overflow-hidden sm:p-2">
        <dt class="flex items-center text-sm font-medium text-gray-500">
          <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z"></path>
          </svg>
          Tags
        </dt>
        <dd class="mt-1 text-2xl font-semibold text-gray-900"><%= @github_stats.releases.total_count %></dd>
      </div>
      <div class="px-2 py-3 bg-white shadow rounded-lg overflow-hidden sm:p-2">
        <dt class="text-sm font-medium text-gray-500 truncate">Latest Release</dt>
        <dd class="mt-1 text-xl font-semibold text-gray-900"><%= @github_stats&.latest_release&.name %></dd>
      </div>
    </dl>
  </div>

  <div class="mx-auto">
    <h1 class="text-xl font-medium">Latest Releases</h1>
    <div class="bg-white shadow overflow-hidden sm:rounded-md">
      <ul role="list" class="divide-y divide-gray-200">
        <% @releases.each_with_index do |release, idx| %>
          <li>
            <div>
              <div class="px-4 py-4 sm:px-6">
                <div class="flex items-center justify-between">
                  <div class="flex items-center justify-start">
                    <p class="text-sm text-blue-500 font-medium truncate mr-2"><%= release.tag_name %></p>
                    <span><button class="inline-flex items-center px-2 py-0 border border-transparent text-sm rounded bg-gray-200 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" type="button" aria-label="Toggle commit message"
                    onclick="div=document.querySelector('#release-message-<%= idx %>');div.style.display = div.style.display == 'none' ? 'block' : 'none';">…</button></span>
                  </div>
                  <p class="flex items-center text-sm text-gray-500"><%= release.author.login %></p>
                </div>
                <div id="release-message-<%= idx %>" style="display: none;">
                  <article class="prose lg:prose-sm"><%= sanitize markdown(release.body) %></article>
                </div>
                <div class="mt-2 sm:flex sm:justify-between">
                  <div class="sm:flex">
                    <p class="flex items-center text-sm text-gray-500">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zm.5 4.75a.75.75 0 00-1.5 0v3.5a.75.75 0 00.471.696l2.5 1a.75.75 0 00.557-1.392L8.5 7.742V4.75z" />
                      </svg>
                      <%= distance_of_time_in_words(Time.now, release.created_at) %> ago
                    </p>
                    <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10.5 7.75a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm1.43.75a4.002 4.002 0 01-7.86 0H.75a.75.75 0 110-1.5h3.32a4.001 4.001 0 017.86 0h3.32a.75.75 0 110 1.5h-3.32z" clip-rule="evenodd" />
                      </svg>
                      <%= release.target_commitish %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<br>
<div class="flex space-x-4">
  <%= link_to 'Back to team', team_path(@team), class: 'bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-900' %>
</div>


