<div class="mt-4">
  <%= render 'apps/app', app: @app %>
</div>

<div class="flex justify-between">
  <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mt-4">
    Repository: <%= @app.github_repo %>
  </h1>
</div>

<br>
<div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
</div>
<div>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      <option>Repository</option>

      <option>Pull Requests</option>

      <option>Workflows</option>

      <option>Deploys</option>

    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">

      <% selected_css = 'border-indigo-500 text-indigo-600 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-lg' %>
      <% normal_css = 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-200 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-lg' %>

        <%= link_to 'Overview', team_app_path(@team, @app, ), class: controller_name.include?('app') && current_page?(action: 'show') ? selected_css : normal_css %>

        <% if current_user.github_token.present? && @app.github_repo.present? %>
          <%= link_to 'Deploys', team_app_deploys_path(@team, @app), class: request.path.include?('deploy') ? selected_css : normal_css %>

          <%= link_to 'Workflows', team_app_workflows_path(@team, @app), class: request.path.include?('workflow') ? selected_css : normal_css %>

          <%= link_to 'Pull Requests', team_app_pull_requests_path(@team, @app), class: controller_name.include?('pull_requests') ? selected_css : normal_css %>
        <% end %>

        <%= link_to 'Settings', edit_team_app_path(@team, @app), class: controller_name.include?('app') && current_page?(action: 'edit') ? selected_css : normal_css %>
      </nav>
    </div>
  </div>
</div>
